{% include "base.html" %}
<body>
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <h1>Loaded Questions</h1>
                    <h5 class="">The Study of Firearm Mortality</h5>
                    <p class="lead">Mark   -   Matthew   -   Michael</p>
                </div>
            </div>

            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="entry-content">
                    <h4>Major US Federal Gun Laws enacted from 1998-2018</h4>
                    <p>&#9642; 2003 – Tiahrt Amendment – prohibits ATF from releasing data showing where criminals purchased firearms – info only accessible to law enforcement</p>
                    <p>&#9642; 2004 – Ten-year federal assault weapon ban enacted by President Clinton lifted</p>
                    <p>&#9642; 2005 – Protection of Lawful Commerce in Arms Act – prevent gunmanufacturers from being named in federal or state civil suits bythose who were victims of crimes involving guns made by said companies.</p>
                    <p>&#9642; 2008 – District of Columbia v. Heller – challenged aspect of the “well regulated militia” portion of the “collective rights theory” in which states have a right to defend themselves, individual rights to possess firearms unconnected to service in a militia</p>
                    <p>Handguns ban and trigger lock requirements were lifted as applied to self defense and these laws violate the second amendment</p>
                  </div>
            </div>
        </div>
    </div>
</body>