{% include "base.html" %}
    <!-- <script>var __basePath = '/';</script> -->
<style media="only screen">
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        -webkit-overflow-scrolling: touch;
    }
</style>

<body>
    <div class="row" style="height: 100%;">
        <div class="col-md-2 col-lg-2 col-sm-2">
            <div class="filterMenu p-3">
                <div><h4 style="font-size: 20px;">Time Range</h4></div>
                <div class="form-group">
                    <select class="form-control" id="startDate_sel" onchange="updateYearSelectList(this.id)"></select>
                    <p class="m-0">To</p>
                    <select class="form-control" id="endDate_sel" onchange="updateYearSelectList(this.id)"></select>
                </div>
            </div>
            <div class="p-3">
                <p class="m-0">Select Chart</p>
                <select class="form-control" id="chart_sel" onchange="ChartSelectionChanged(this.value)">
                    <option value="dvsy">Death vs. Year</option>
                    <option value="hfrvsy">HFR vs. Year</option>
                    <option value="codvsy">Cause of Death vs. Year</option>
                    <!-- <option value="1999">1999</option> -->
                </select>
            </div>
            <div class="p-3">
                <button type="button" class="btn btn-primary btn-block" onclick="selectAll()">Select All</button>
                <button type="button" class="btn btn-primary btn-block" onclick="clearSelect()">Clear</button>
            </div>
        </div>
        <div class="col-md-10 col-lg-10 col-sm-10">
            <div id="myChart" style="height: 80%;"></div>
        </div>
    </div>
    <script src="https://unpkg.com/ag-charts-community@1.1.0/dist/ag-charts-community.min.js"></script>
    <script src="../static/js/chart_options.js"></script>
    <script src="../static/js/app.js"></script>
</body>